---
Language: Cpp
Standard: c++17
BasedOnStyle: LLVM

IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0
ReflowComments: false

PointerAlignment: Right
ReferenceAlignment: Right

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterControlStatement: false
  AfterCaseLabel: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeCatch: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  IndentBraces: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false

AlignOperands: DontAlign
AlignTrailingComments: true
AlignAfterOpenBracket: DontAlign

SortIncludes: true
IncludeBlocks: Preserve

SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
